// /* -----------
// common Styles
// -------------*/

@font-belle: 'La Belle Aurore', cursive;
@font-textme: 'Text Me One', sans-serif;
@font-cata: 'Catamaran', sans-serif;
@font-white: white;

 /* -----------
 Navbar Styles
 -------------*/

.navbar-header, #sections, .navbar {
  background: black;
}
#hamburger {
	color: hotpink;
	border: 2px solid hotpink;
	background: none;
}

.icon-bar {
	background-color: hotpink !important;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
.no-border-here {
	border: 0px;
}

.navbar .navbar-collapse {
  text-align: center;
}
#sections {
	font-family: @font-cata;
	font-size: 2rem;
	font-weight: lighter;
	li {
	padding: 1rem 3rem 1rem 3rem;
	letter-spacing: .5rem;

	}
}

a { 
	outline: none;
	color: @font-white !important;


	&:hover {
	background-color: black !important;
	border-bottom: 3px solid hotpink;
	color: hotpink;
	}

	&:focus {
	border-bottom: 3px solid hotpink;
	color: hotpink;
	}
}
 /* -----------
	Header Styles
 -------------*/
header {
	background-color: black;
}
 /* -----------
 Title Styles
 -------------*/
 .hero-bg {
 	color: hotpink;
 	-webkit-background-size: cover;
 	height: 100vh;
 	display: flex;
 	position: relative;
 	align-items: center;
 }


#yolixtly {
	 font-family: @font-textme;
	 font-size: 19rem;
	 color: hotpink;
}

.hero-bg > h2 {
	font-family: @font-cata;
}
#main-btn {
	margin: 2rem;
	font-size: 2rem;
}
 /* -----------
 Projects Styles
 -------------*/

 #projects {
 	background-color: white;
 	height: 30rem;
 }

  /* -----------
 Media Queries
 -------------*/

 @media (max-width: 760px) {

 	#yolixtly {
 		font-size: 9rem;
 	}
 	
 }



