.highlight {
  font-weight: 300;
}
/* -----------
 Navbar Styles
 -------------*/
.navbar-header,
#sections,
.navbar {
  background: black;
}
#hamburger {
  color: hotpink;
  border: 2px solid hotpink;
  background: none;
}
.icon-bar {
  background-color: hotpink !important;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
.no-border-here {
  border: 0px;
}
.navbar .navbar-collapse {
  text-align: center;
}
#sections {
  font-family: 'Catamaran', sans-serif;
  font-size: 2rem;
  font-weight: lighter;
}
#sections li {
  padding: 1rem;
  letter-spacing: .5rem;
}
a {
  outline: none;
  color: white !important;
  text-decoration: none;
}
a:hover {
  background-color: transparent;
  border-bottom: 3px solid hotpink;
  color: hotpink;
  text-decoration: none;
}
a:focus {
  border-bottom: 3px solid hotpink;
  color: hotpink;
  text-decoration: none;
}
/* -----------
	Header Styles
 -------------*/
header {
  background-color: black;
}
/* -----------
 Title Styles
 -------------*/
.hero-bg {
  color: hotpink;
  -webkit-background-size: cover;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
}
#yolixtly {
  font-family: 'Text Me One', sans-serif;
  font-size: 19rem;
  color: hotpink;
}
#fed {
  font-family: 'Catamaran', sans-serif;
  letter-spacing: 0.5rem;
}
#main-btn {
  margin: 2rem;
  font-size: 2rem;
  text-decoration: none;
  letter-spacing: 0.5rem;
}
/* -----------
 About me Styles
 -------------*/
#about-me {
  background-color: #D9658D;
  -webkit-background-size: cover;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  color: white;
}
#about-me h1 {
  font-family: 'Text Me One', sans-serif;
}
#about-me p {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  font-size: 2rem;
  font-weight: 100;
  letter-spacing: 0.2rem;
}
#about-me .Icode {
  font-family: 'La Belle Aurore', cursive;
  margin: 0 auto;
  font-size: 5rem;
}
.half > img {
  border-radius: 45%;
  width: 15rem;
  border: 0.5rem solid white;
}
/* -----------
	skills Styles
 -------------*/
#about-skills {
  background-color: black;
  -webkit-background-size: cover;
  display: flex;
  position: relative;
  align-items: center;
  height: 100vh;
}
#about-skills h1 {
  color: hotpink;
  font-family: 'Text Me One', sans-serif;
  letter-spacing: 0.3rem;
}
#about-skills p {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  font-size: 2rem;
  font-weight: 100;
  letter-spacing: 0.2rem;
  color: white;
}
#about-skills .icons {
  color: hotpink;
  font-family: 'Text Me One', sans-serif;
}
#about-skills .icons span {
  font-size: 3rem;
}
/* -----------
 Projects Styles
 -------------*/
#projects {
  background-color: #D9658D;
  -webkit-background-size: cover;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  color: white;
}
#projects h1 {
  font-family: 'Text Me One', sans-serif;
  padding: 2rem 0;
}
#projects .img-small {
  width: 40rem;
}
#projects h4 {
  font-family: 'Catamaran', sans-serif;
  letter-spacing: 0.3rem;
  font-size: 3rem;
  font-weight: 100;
}
/* -----------
 footer Styles
 -------------*/
#contact-me {
  background-color: black;
  color: white;
  font-family: 'Text Me One', sans-serif;
  letter-spacing: 0.3rem;
}
#contact-me .social {
  padding: 0.5rem 2rem;
}
/* -----------
 Media Queries
 -------------*/
@media (max-width: 1000px) {
  #yolixtly {
    font-size: 9rem;
  }
  #fed {
    font-size: 2.2rem;
    letter-spacing: 0.3rem;
  }
  .custom-size {
    font-size: 1.5rem !important;
  }
  #about-me,
  #about-skills,
  #projects {
    height: auto;
    padding: 5rem 0 5rem 0;
  }
  .img-small {
    width: 20rem;
    margin: 0 auto;
  }
}
